<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login-form</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <img src="assets/logo.png" class="logo-image" alt="Logo">
    <h3 class="text">Welcome Resident</h3>
    <form class="form">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" required></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button type="submit" expand="full">Login</ion-button>
        <!-- <a href="#" class="link">Forgot Password</a> -->
        <h5 class="text-center">BMSIMS Ver.2</h5>
      </div>

    </form>
  </div>
</ion-content>
