<ion-content>
<div class="header">
  <ion-grid>
    <ion-row>
      <ion-col> <h3>BMSIMS</h3></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button>
          <ion-icon name="person"></ion-icon>&nbsp;<span class="name">Denverson Caacbay</span>
        </ion-button></ion-col>
    </ion-row>
  </ion-grid>
  
</div>

<ion-card class="latest">
  <ion-card-header>
    <ion-card-title>Latest Request</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <label>Get Date: August 1, 2023</label><br>
    <label>Request Type: Barangay Clearance</label><br>
    <label>Status: </label><ion-chip color="light">Ongoing</ion-chip>
  </ion-card-content>
</ion-card>

<div class="header">
  <h3>REQUEST FORMS</h3>
</div>
<div class="container-fluid">
  <ul class="cards">
    <li class="card">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Barangay Clearance</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <label>Price: ₱0.00</label><br>
            <label>Availabily: <ion-chip color="success">Active</ion-chip></label><br>
            <ion-button>Request</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </li>
    <li class="card">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Barangay ID</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <label>Price: ₱0.00</label><br>
            <label>Availabily: <ion-chip color="success">Active</ion-chip></label><br>
            <ion-button>Request</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </li>
    <li class="card">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Indigency</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <label>Price: ₱0.00</label><br>
            <label>Availabily: <ion-chip color="success">Active</ion-chip></label><br>
            <ion-button>Request</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </li>
    <li class="card">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Residency</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <label>Price: ₱0.00</label><br>
            <label>Availabily: <ion-chip color="success">Active</ion-chip></label><br>
            <ion-button>Request</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </li>
    <li class="card">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Business Permit</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <label>Price: ₱0.00</label><br>
            <label>Availabily: <ion-chip color="success">Active</ion-chip></label><br>
            <ion-button>Request</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </li>
  </ul>
</div>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button expand="block" (click)="setOpen(true)">
    <ion-icon name="help"></ion-icon>
  </ion-fab-button>
</ion-fab>


<!-- <ion-button class="quest" expand="block" (click)="setOpen(true)" shape="round">?</ion-button> -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Instruction</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)"><b>x</b></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Requesting</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p><code>1. </code>Fill Up the Form</p>
              <p><code>2. </code>After Request you can view your request in My Request section</p>
              <p><code>3. </code>Wait for it to be approved. or </p>
              <p><code>4. </code>You can cancel your request before getting approved</p>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Paying with GCASH</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p><code>1. </code>Input the number flash on screen when requesting record or Scan the Qr Code.</p>
              <p><code>2. </code>After Paying there is a reference No. included in gcash. Get it and put it in the form.</p>
              <p><code>3. </code>After requesting admin will check if the reference number is correct.</p>
              <p><code>4. </code>Then admin will check if your request will be approved or not.</p>
              <p><code>Note: </code>No refund if you did not get your request on time.</p>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Getting Your Record</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p><code>1. </code>Check Request status if its Get Record</p>
              <p><code>2. </code>If Request Status is Get Record you can pick the record you request on day you want to get your request.</p>
              <p><code>4. </code>You have to present an ID for identification to know if you are the one requesting the record.</p>
              <p><code>List of ID</code></p>
              <p>School ID</p>
              <p>SSS</p>
              <p>PAG-IBIG</p>
              <p>PHILsys</p>
              <p>Voters</p>
              <p>Tin</p>
              <p>Company ID</p>
              <p>Passport</p>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>
<!-- 
<div class="scrolling-wrapper">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Latest Request</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label>Get Date: August 1, 2023</label><br>
      <label>Request Type: Barangay Clearance</label><br>
      <label>Status: </label><ion-chip color="primary">Ongoing</ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Latest Request</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label>Get Date: August 1, 2023</label><br>
      <label>Request Type: Barangay Clearance</label><br>
      <label>Status: </label><ion-chip color="primary">Ongoing</ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Latest Request</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label>Get Date: August 1, 2023</label><br>
      <label>Request Type: Barangay Clearance</label><br>
      <label>Status: </label><ion-chip color="primary">Ongoing</ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Latest Request</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label>Get Date: August 1, 2023</label><br>
      <label>Request Type: Barangay Clearance</label><br>
      <label>Status: </label><ion-chip color="primary">Ongoing</ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Latest Request</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label>Get Date: August 1, 2023</label><br>
      <label>Request Type: Barangay Clearance</label><br>
      <label>Status: </label><ion-chip color="primary">Ongoing</ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
  <ion-card-header>
    <ion-card-title>Latest Request</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <label>Get Date: August 1, 2023</label><br>
    <label>Request Type: Barangay Clearance</label><br>
    <label>Status: </label><ion-chip color="primary">Ongoing</ion-chip>
  </ion-card-content>
</ion-card>
</div> -->
</ion-content>
